/*LINEAS HORIZONTALES*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff; }

/*GENERAL*/
/*HEADER*/
header {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  z-index: 10; }
  header .navbar {
    width: 100%; }
    header .navbar img {
      display: flex;
      padding-left: 7vw;
      height: 5vh; }
    header .navbar .collapse {
      flex-grow: 0; }
    header .navbar ul {
      list-style-type: none;
      height: 8vh;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      padding-right: 7vw; }
      header .navbar ul li {
        display: flex;
        text-decoration: none; }
        header .navbar ul li a {
          color: #000;
          transition: 1s;
          text-decoration: none;
          border-bottom: solid 0.3vh transparent;
          font-weight: 500; }
          header .navbar ul li a:hover {
            color: #6768ab;
            border-bottom: solid 0.3vh #6768ab; }
          header .navbar ul li a::selection {
            background-color: #6768ab; }

/*MAIN*/
/*BANNER*/
/*SERVICIOS*/
.servicios {
  display: grid;
  height: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #faa99d;
  background: linear-gradient(0deg, #faa99d 0%, #ce97fb 100%); }
  .servicios .serv1, .servicios .serv2, .servicios .serv3, .servicios .serv4, .servicios .serv5, .servicios .serv6, .servicios .serv7, .servicios .serv8 {
    padding: 0 0 2vh 0;
    border: solid 0.1vh #F6A5EB;
    border-radius: 0.3em;
    background-color: #E6C9FE;
    transition: 1.5s;
    display: flex;
    flex-direction: column; }
    .servicios .serv1:hover, .servicios .serv2:hover, .servicios .serv3:hover, .servicios .serv4:hover, .servicios .serv5:hover, .servicios .serv6:hover, .servicios .serv7:hover, .servicios .serv8:hover {
      filter: drop-shadow(0 0.2vh 0.2vh #797979);
      border: solid 0.1vh transparent;
      background-color: #9BFBE1; }

/*QUIENES SOMOS + STAFF*/
/*ADN*/
.adn {
  background: #fddf7e;
  background: linear-gradient(0deg, #fddf7e 0%, #faa99d 100%); }

/*CLIENTES*/
/*CONTACTO*/
.contacto {
  display: grid;
  height: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #9bfbe1;
  background: linear-gradient(0deg, #9bfbe1 0%, #fddf7e 100%); }
  .contacto .titulo {
    grid-area: titulo; }
  .contacto .sede {
    grid-area: sede;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .contacto .email {
    grid-area: email;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .contacto .whatsapp {
    grid-area: whatsapp;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .contacto .instagram {
    grid-area: instagram;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .contacto .desc1 {
    grid-area: desc1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .contacto .desc2 {
    grid-area: desc2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .contacto .desc3 {
    grid-area: desc3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .contacto .desc4 {
    grid-area: desc4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }

/*FOOTER*/
.footerDiv {
  background-color: #000;
  width: 100%;
  display: flex;
  align-items: center; }
  .footerDiv .divFooter1 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter1 .divLinealFooter1 {
      width: 100%;
      height: 0;
      border-top: 0.1vh;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin: 0.5vh 0;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #fff;
      border-style: solid; }
    .footerDiv .divFooter1 .divFooter1div1 {
      display: flex;
      flex-direction: column; }
  .footerDiv .divFooter2 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter2 .aFooter {
      transition: 1s;
      text-decoration: none;
      color: #fff; }
      .footerDiv .divFooter2 .aFooter:hover {
        color: #6768ab; }
  .footerDiv .divFooter3 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter3 .redesSocialesLogo {
      color: #fff; }
      .footerDiv .divFooter3 .redesSocialesLogo:hover {
        color: #6768ab; }
    .footerDiv .divFooter3 .facebookLogo {
      margin: 0 1.5vw 0 1.5vw; }
    .footerDiv .divFooter3 .divLinealFooter2 {
      width: 100%;
      height: 0;
      border-top: 0.1vh;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin: 0;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #fff;
      border-style: solid; }
    .footerDiv .divFooter3 .aFooter {
      transition: 1s;
      text-decoration: none;
      color: #000; }
      .footerDiv .divFooter3 .aFooter:hover {
        color: #6768ab; }

.credito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff; }
  .credito p {
    margin: 1vh 0;
    color: #000; }

/*FUENTES*/
h1 {
  font-family: "Oswald", sans-serif;
  color: #fff;
  line-height: 1,5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: #000 0.1em 0.1em 0.2em;
  font-weight: 400;
  text-justify: center;
  text-align: center; }
  h1::selection {
    background-color: #EFEFFC; }

h2, .h2-w {
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-shadow: #000 0.1em 0.1em 0.2em;
  text-justify: center;
  text-align: center; }
  h2::selection, .h2-w::selection {
    background-color: #EFEFFC; }

.h2-w {
  color: #fff;
  text-justify: center;
  text-align: center; }
  .h2-w::selection {
    background-color: #EFEFFC; }

h3, .h3--centrado {
  font-weight: 500; }
  h3::selection, .h3--centrado::selection {
    background-color: #EFEFFC; }

.h3--centrado {
  text-align: center;
  text-justify: center;
  text-transform: uppercase; }
  .h3--centrado::selection {
    background-color: #EFEFFC; }

.fuente--color-black {
  color: #000;
  font-weight: 0;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }
  .fuente--color-black::selection {
    background-color: #EFEFFC; }

.fuente--color-white {
  font-size: 1em;
  color: #fff;
  font-family: "Roboto", sans-serif; }
  .fuente--color-white::selection {
    background-color: #EFEFFC; }

/*BOTON*/
.btn {
  text-decoration: none;
  color: #fff;
  background-color: #845CFF;
  transition: 1s;
  display: flex;
  border: 0.1vh solid #845CFF;
  border-radius: 0.3em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  justify-self: center;
  align-self: center; }
  .btn:hover {
    background-color: #A39CFF;
    color: #fff; }
  .btn::selection {
    background-color: #A39CFF; }

/*MEDIA QUERY - DESKTOP*/
@media screen and (min-width: 769px) {
  /*HEADER + NAV*/
  header {
    height: 8vh;
    position: fixed;
    flex-direction: row; }
    header .navbar {
      width: 100%; }
      header .navbar .linknav {
        padding: 0.5vh 0.5vh;
        font-size: 1em; }
  /*MAIN*/
  main {
    padding-top: 8vh; }
  /*BANNER*/
  .banner {
    display: flex;
    flex-direction: row;
    height: 70vh;
    justify-content: space-around;
    background: #ce97fb;
    background: linear-gradient(0deg, #ce97fb 0%, #9bfbe1 50%, white 100%); }
    .banner div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-justify: center;
      padding: 0 40vh; }
    .banner img {
      height: 60vh;
      padding: 5vh 15vh 5vh 0; }
  /*SERVICIOS*/
  .servicios {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15vh auto auto 15vh;
    grid-template-areas: "titulo titulo titulo titulo" "serv1 serv2 serv3 serv4" "serv5 serv6 serv7 serv8" "btn btn btn btn"; }
    .servicios .titulo {
      grid-area: titulo; }
    .servicios .serv1 {
      grid-area: serv1;
      justify-self: right;
      align-self: start;
      margin-bottom: 2vh; }
    .servicios .serv2 {
      grid-area: serv2;
      justify-self: right;
      align-self: start;
      margin-right: 5vh; }
    .servicios .serv3 {
      grid-area: serv3;
      justify-self: left;
      align-self: start;
      margin-left: 5vh; }
    .servicios .serv4 {
      grid-area: serv4;
      justify-self: left;
      align-self: start; }
    .servicios .serv5 {
      grid-area: serv5;
      justify-self: right;
      align-self: start;
      margin-bottom: 2vh; }
    .servicios .serv6 {
      grid-area: serv6;
      justify-self: right;
      align-self: start;
      margin-right: 5vh; }
    .servicios .serv7 {
      grid-area: serv7;
      justify-self: left;
      align-self: start;
      margin-left: 5vh; }
    .servicios .serv8 {
      grid-area: serv8;
      justify-self: left;
      align-self: start; }
    .servicios p {
      font-size: 0.9em; }
    .servicios .boton {
      grid-area: btn;
      text-align: center;
      text-justify: center; }
  /*ADN*/
  .adn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0; }
    .adn img {
      position: relative;
      height: 15vh;
      margin-top: 5vh; }
    .adn div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 5vh;
      justify-content: space-around; }
      .adn div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-justify: center;
        padding: 0 7vh; }
        .adn div div i {
          margin-bottom: 2vh; }
  /*QUIENES SOMOS + STAFF*/
  /*CLIENTES*/
  /*CONTACTO*/
  .contacto {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15vh 15vh 20vh;
    grid-template-areas: "titulo titulo titulo titulo" "sede email whatsapp instagram" "desc1 desc2 desc3 desc4"; }
    .contacto .titulo {
      margin: 0 0 0 5vh; }
  /*FOOTER*/
  .footerDiv {
    height: auto;
    flex-direction: row;
    justify-content: space-evenly; }
    .footerDiv .divFooter1 {
      flex-direction: column;
      justify-items: start; }
      .footerDiv .divFooter1 .logo {
        height: 7vh;
        margin-top: 5vw; }
      .footerDiv .divFooter1 .divFooter1div1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vw; }
    .footerDiv .divFooter2 {
      display: flex;
      flex-direction: column; }
      .footerDiv .divFooter2 .aFooter {
        transition: 1s;
        text-decoration: none; }
        .footerDiv .divFooter2 .aFooter:hover {
          color: #6768ab; }
    .footerDiv .divFooter3 {
      display: flex;
      flex-direction: column; }
      .footerDiv .divFooter3 .divFooter3div1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; }
        .footerDiv .divFooter3 .divFooter3div1 .redesSocialesLogo {
          height: 2vh; }
        .footerDiv .divFooter3 .divFooter3div1 .facebookLogo {
          margin: 0 1.5vh 0 1.5vh; } }
