/*MEDIA QUERY - DESKTOP*/
@media screen and (min-width: 769px){

    /*HEADER + NAV*/
    
    header{
        height: 8vh; 
        position: fixed;
        flex-direction: row;
    
        .navbar{
            width: 100%;
            
            .linknav{
                padding:0.5vh 0.5vh;
                font-size: 1em;
            }
        }
    }

    /*MAIN*/
    main{
        padding-top: 8vh;
    }

    /*BANNER*/
    .banner{
        display: flex;
        flex-direction: row;
        height: 60vh;
        background-color: #EFEFFC;
        justify-content: space-around;

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-justify: center;
            padding: 0 40vh;
        }

        img{
            height: 60vh;
        }
    }

    /*SERVICIOS*/

    /*QUIENES SOMOS + STAFF*/

    /*CLIENTES*/

    /*CONTACTO*/
    .contacto{
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 15vh 15vh 20vh;
        grid-template-areas: "titulo titulo titulo titulo"
                            "sede email whatsapp instagram"
                            "desc1 desc2 desc3 desc4";

                            .titulo{
                                margin: 0 0 0 5vh;
                            }


    }

    /*FOOTER*/
    .footerDiv{
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
    
        .divFooter1{
            flex-direction: column;
            justify-items: start;
    
            .logo{
                height: 5vh;
                margin-top: 5vw;
            }
    
            .divFooter1div1{
                display: flex;
                flex-direction: column;
                margin-bottom: 5vw;
            }
        }
    
        .divFooter2{
            display: flex;
            flex-direction: column;
            
            .aFooter{
                transition: 1s;
                text-decoration: none;
    
                &:hover{
                    color: #6768ab;
                }
            }
        }
    
        .divFooter3{
            display: flex;
            flex-direction: column;
    
            .divFooter3div1{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
    
                .redesSocialesLogo{
                    height: 2vh;
                }
                
                .facebookLogo{
                    margin: 0 1.5vh 0 1.5vh;
                }
            }
        }
    }

}