*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}

/*GENERAL*/

/*HEADER*/

header{
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    z-index: 10;

    .navbar{
        width: 100%;

        img{
            display: flex;
            padding-left: 7vw;
            height: 5vh;
        }        

        .collapse{
            flex-grow:0;
        }

        ul{
            list-style-type: none;
            height: 8vh;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-evenly;
            padding-right: 7vw;

            li{
                display: flex;
                text-decoration: none;

                a{
                    color: #000;
                    transition: 1s;
                    text-decoration: none;
                    border-bottom: solid 0.3vh transparent;
                    font-weight:500;

                    &:hover{
                        color: #6768ab;
                        border-bottom: solid 0.3vh #6768ab;
                    }

                    &::selection{
                    background-color: #6768ab;
                    }
                } 
            }
        }
    }
}


/*MAIN*/

/*BANNER*/

/*SERVICIOS*/

.servicios{
    display: grid;
    height: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(250,169,157);
    background: linear-gradient(0deg, rgba(250,169,157,1) 0%, rgba(206,151,251,1) 100%);

    .serv1, .serv2, .serv3, .serv4, .serv5, .serv6, .serv7, .serv8{
        padding: 0 0 2vh 0;
        border: solid 0.1vh #F6A5EB;
        border-radius: $redondeado;
        background-color: #E6C9FE;
        transition: 1.5s;
        display: flex;
        flex-direction: column;

        &:hover{
            filter: $sombraImg;
            border: solid 0.1vh transparent;
            background-color: #9BFBE1;
        }
    }
}

/*QUIENES SOMOS + STAFF*/

/*ADN*/
.adn{
    width: 100%;
    color: #fff;
	background: linear-gradient(45deg,#67EBFA,#9BFBE1,#FDDF7E,#FAA990, #F6A5EB, #CE97FB);
	background-size: 400% 400%;
	position: relative;
	animation: cambiar 10s ease-out infinite;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .tituloAdn{
        font-family: 'Times New Roman', Times, serif;
        color: rgba(255, 255, 255, 0.605);
        font-size: 65px;
        font-style: italic;
        margin-bottom: -35px;
        margin-left: -15px;
    }

    .tituloAdn2{
        margin-left: 15vh;
        font-size: 65px;
    }

    .card{
        display: flex;
        flex-direction: column;
        height: 350px;
        width: 350px;
        justify-content: space-evenly;
        background-color: rgba(255, 255, 255, 0.441);
        border-radius: 15px;
        padding: 0 4vh;

        img{
            border-radius: 100px;
        }

        h4{
            color: #000;
            font-size: 20px;
        }

        p{
            color: #000;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-style: normal;
            font-size: 15px;
        }
    }
}


@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

/*CLIENTES*/

/*CONTACTO*/
.contacto{
    display: grid;
    height: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(155,251,225);
    background: linear-gradient(0deg, rgba(155,251,225,1) 0%, rgba(253,223,126,1) 100%);

    .titulo{
        grid-area: titulo;
    }

    .sede{
        grid-area:sede;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .email{
        grid-area: email;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .whatsapp{
        grid-area: whatsapp;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .instagram{
        grid-area: instagram;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .desc1{
        grid-area: desc1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .desc2{
        grid-area: desc2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .desc3{
        grid-area: desc3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .desc4{
        grid-area: desc4;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}




/*FOOTER*/

.footerDiv{
    background-color: #000;
    width: 100%;
    display: flex;
    align-items: start;
    padding: 5vh 0 3vh 0;
    
    .divFooter1{
        display: flex;
        flex-direction: column;
    
        a{
            display: flex;
            flex-direction: row;
            align-items: end;
            text-decoration: none;

            p{
                color: rgb(219, 218, 218);
                font-size: 20px;
                font-weight: 600;
            }
        }

        p{
            color: rgb(219, 218, 218);
            font-size: 14px;
            line-height: 1;
        }
    }
    
    .divFooter2{
        display: flex;
        flex-direction: column;

            p{
                color: rgb(219, 218, 218);
                font-size: 16px;
                font-weight: 600;
            }

            .l1{
                transition: 1s;
                text-decoration: none;
                color: rgb(219, 218, 218);
                font-size: 12px;
    
                &:hover{
                    color: #FDDF7E;
                }
            }

            .l2{
                transition: 1s;
                text-decoration: none;
                color: rgb(219, 218, 218);
                font-size: 12px;
    
                &:hover{
                    color: #FAA990;
                }
            }

            .l3{
                transition: 1s;
                text-decoration: none;
                color: rgb(219, 218, 218);
                font-size: 12px;
    
                &:hover{
                    color: #9BFBE1;
                }
            }

            .l4{
                transition: 1s;
                text-decoration: none;
                color: rgb(219, 218, 218);
                font-size: 12px;
    
                &:hover{
                    color: #CE97FB;
                }
            }

            i{
                transition: 1s;
                color: rgb(219, 218, 218);
                font-size: 12px;
    
                &:hover{
                    color: #fff;
                }
            }
        }
    
    .divFooter3{
        display: flex;
        flex-direction: column;

        p{
            color: rgb(219, 218, 218);
            font-size: 16px;
            font-weight: 600;
        }

        .divFooter3div1{
            display: flex;
            flex-direction: column;
        
    
            .redesSocialesLogo{
                color: rgb(219, 218, 218);
                height: 2vh;
            }

            .e1{
                transition: 1s;
                text-decoration: none;
                color: rgb(219, 218, 218);
                font-size: 12px;
    
                &:hover{
                    color: #9BFBE1;
                }
            }

            .e2{
                transition: 1s;
                text-decoration: none;
                color: rgb(219, 218, 218);
                font-size: 12px;
    
                &:hover{
                    color: #F6A5EB;
                }
            }

            .e3{
                transition: 1s;
                text-decoration: none;
                color: rgb(219, 218, 218);
                font-size: 12px;
    
                &:hover{
                    color: #FDDF7E;
                }
            }

            .e4{
                transition: 1s;
                text-decoration: none;
                color: rgb(219, 218, 218);
                font-size: 12px;
    
                &:hover{
                    color: #CE97FB;
                }
            }
        }
    }
}

.credito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;

    .divLineal{
        @include divLineal(70%, 0, 0.1vh, 0, 0.5vh 0 0 0)
    }

    .copyright{
        font-size: 12px;
    }
    
    p{
        margin: 1vh 0;
        color: rgb(219, 218, 218);
        font-size: 14px;

        .a1{
            color: rgb(219, 218, 218);
            text-decoration: none;
            transition: 1s;

            &:hover{
                color: #9BFBE1;
            }
        }

        .a2{
            color: rgb(219, 218, 218);
            text-decoration: none;
            transition: 1s;

            &:hover{
                color: #FAA990;
            }
        }
    }
}

/*FUENTES*/
p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
}

h2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 65px;
    font-weight: 800;
}

.h2Black{
    color: #000;
}

h3 {
    color: white;
    font-weight: bolder;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 30px;
    text-shadow: rgb(66, 66, 66) 0px 0px 10px;
}

.fuente--color-black{
    color: #000;
    font-weight: 0;
    line-height: 1.5;
    font-family: $fuenteTextos;

    &::selection{
        background-color: #EFEFFC;
    }
}


/*BOTON*/
.btn{
    text-decoration: none;
    color: #fff;
    background-color: #845CFF;
    transition: 1s;
    display: flex;
    border: 0.1vh solid #845CFF;
    border-radius: $redondeado;
    text-transform: $mayuscula;
    font-family: $fuenteTextos;
    font-weight: 700;
    justify-self: center;
    align-self: center;

    &:hover{
        background-color: #A39CFF;
        color: #fff;
    }

    &::selection{
        background-color: #A39CFF;
    }
}