*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}

/*GENERAL*/

/*HEADER*/

header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 0 0 0.7vh 0;
    box-shadow: #2F2A26/20%;
    z-index: 10;

    .navbar{
        width: 100%;

        img{
            display: flex;
            padding-left: 7vw;
            height: 5vh;
        }        

        .collapse{
            flex-grow:0;
        }

        ul{
            list-style-type: none;
            height: 8vh;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-evenly;
            padding-right: 7vw;

            li{
                display: flex;
                text-decoration: none;

                a{
                    color: #000;
                    transition: 1s;
                    text-decoration: none;
                    border-bottom: solid 0.3vh transparent;
                    font-weight:500;

                    &:hover{
                        color: #6768ab;
                        border-bottom: solid 0.3vh #6768ab;
                    }

                    &::selection{
                    background-color: #6768ab;
                    }
                } 
            }
        }
    }
}


/*MAIN*/

/*BANNER*/

/*SERVICIOS*/

/*QUIENES SOMOS + STAFF*/

/*CLIENTES*/

/*CONTACTO*/
.contacto{
    display: grid;
    height: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #faf9f9;

    .titulo{
        grid-area: titulo;

        span{
            background: linear-gradient(#A39CFF,#845CFF);
            -webkit-background-clip: text;
            color: transparent;  
        }
    }

    .sede{
        grid-area:sede;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .email{
        grid-area: email;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .whatsapp{
        grid-area: whatsapp;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .instagram{
        grid-area: instagram;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .desc1{
        grid-area: desc1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .desc2{
        grid-area: desc2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .desc3{
        grid-area: desc3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .desc4{
        grid-area: desc4;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}




/*FOOTER*/

.footerDiv{
    background-color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    
    .divFooter1{
        display: flex;
        flex-direction: column;
    
        .divLinealFooter1{
            @include divLineal(100%, 0, 0.1vh, 0, 0.5vh 0);
        }
    
        .divFooter1div1{
            display: flex;
            flex-direction: column;
        }
    }
    
    .divFooter2{
        display: flex;
        flex-direction: column;
    
            .aFooter{
                transition: 1s;
                text-decoration: none;
                color: #fff;
    
                &:hover{
                    color: #6768ab;
                }
            }
        }
    
    .divFooter3{
        display: flex;
        flex-direction: column;
    
        .redesSocialesLogo{
            color: #fff;

            &:hover{
                color: #6768ab;
            }
        }
    
        .facebookLogo{
            margin: 0 1.5vw 0 1.5vw;
        }
    
        .divLinealFooter2{
            @include divLineal(100%, 0, 0.1vh, 0, 0)
        }
    
        .aFooter{
            transition: 1s;
            text-decoration: none;
            color: #000;
    
            &:hover{
                color: #6768ab;
            }
        }
    }
}

.credito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    
    p{
        margin: 1vh 0;
        color: #000;
    }
}

/*FUENTES*/
h1{
    font-family: $fuenteTitulos;
    color: #fff;
    line-height: 1,5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: $sombraTexto;
    font-weight: 400;
    text-justify: center;
    text-align: center;

    &::selection{
        background-color: #EFEFFC;
    }
}

h2{
    font-family: $fuenteTitulos;
    color:#000;
    text-justify: center;
    text-align: center;

    &::selection{
        background-color: #EFEFFC;
    }
}

.h2-w{
    @extend h2;
    color:#fff;
    text-justify: center;
    text-align: center;

    &::selection{
        background-color: #EFEFFC;
    }
}

h3{

    font-weight: 500;

    &::selection{
        background-color: #EFEFFC;
    }
}


.h3--centrado{
    @extend h3;
    text-align: center;
    text-justify: center;
    text-transform: $mayuscula;

    &::selection{
        background-color: #EFEFFC;
    }
}

.fuente--color-black{
    color: #000;
    font-weight: 0;
    line-height: 1.5;

    &::selection{
        background-color: #EFEFFC;
    }
}


.fuente--color-white{
    font-size: 1em;
    color: #fff;

    &::selection{
        background-color: #EFEFFC;
    }
}

/*BOTON*/
.btn{
    text-decoration: none;
    color: #fff;
    background-color: #845CFF;
    transition: 1s;
    display: flex;
    border: 0.1vh solid #845CFF;
    border-radius: $redondeado;
    text-transform: $mayuscula;
    font-family: $fuenteTextos;
    font-weight: 700;
    justify-content: center;
    align-content: center;

    &:hover{
        background-color: #A39CFF;
        color: #fff;
    }

    &::selection{
        background-color: #A39CFF;
    }
}